<div class="class">
    <img src="{{image}}" alt="{{name}}" height="100px" />
    <h2>{{name}}</h2>
    <p>Price: {{price}}</p>
    <p>Rating : {{rating}}</p>
    {{#if inStock}}
        <p class="in-stock">In Stock</p>
    {{else}}
        <p class="out-of-stock">Out Of Stock</p>
    {{/if}}
</div>